 h1{
    color: #e111d7;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    
  }
  #mechanics, #selected-mechanic {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #d5ead5;
  }
  
  #mechanic-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .mechanic-card {
    border: 1px solid #c8a2a2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
  
  .mechanic-card:hover {
    background-color: #dabdbd;
    cursor: pointer;
  }
  
  .mechanic-card h3 {
    margin: 0;
  }
  
  #mechanic-info {
    margin-bottom: 10px;
  }
  
  #book-button {
    padding: 10px 20px;
    background-color: #c36d91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  #book-button:hover {
    background-color: #070707;
  }
@media screen and (max-width: 700px) {
    .content{
        font-size: 1.4rem;
        margin: 2rem auto 0;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #edd5d5;
    background-image: url(Images/DPYNzI.jpg);
  }


  


  



  
  
 
  

  


  


  
 
  
 
  
